
* {
  font-family: 'Lato', sans-serif;
}

.ticTacToe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.grid {
  max-width: 330px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square, .x, .o {
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.square {
  background-color: #78bec5;

  h1 {
    display: none;
  }
}
.square:hover {
  opacity: 0.5;

  h1 {
    display: initial;
  }
}

.x {
  background-color: rgb(220, 104, 90);
}

.o {
  background-color: rgb(236, 175, 79);
}

.scoreboard {
  width: 200px;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;

  .column {
    margin: 0;
    flex-grow: 1;
    min-width: 50%;
  }

  .victor {
    min-width: 100%;
    flex-grow: 1;
  }

  /* button styles shameless stolen from this codepen: http://codepen.io/benague/pen/bCkyr */
  button {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    text-decoration: none;
    margin: 5px;
    color: #fff;
    background-color: #55acee;
    box-shadow: 0px 2px 0px 0px #3C93D5;
  }
  button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  button:hover {
    background-color: #6FC6FF;
  }
}
